services:
  postgres:
    image: postgres:15
    environment:
      POSTGRES_USER: airflow
      POSTGRES_PASSWORD: airflow
      POSTGRES_DB: airflow
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data


  airflow-webserver:
    image: apache/airflow:2.9.1
    depends_on:
      - postgres
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      AIRFLOW__WEBSERVER__RBAC: "True"
      _PIP_ADDITIONAL_REQUIREMENTS: "-r /requirements.txt"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./requirements.txt:/requirements.txt
      - ./kaggle_config:/home/airflow/.config/kaggle
    ports:
      - "8080:8080"
    command: >
      bash -c "
      airflow db init &&
      airflow users create --username airflow --password airflow --role Admin --firstname admin --lastname admin --email admin@admin.com &&
      airflow webserver
      "


  airflow-scheduler:
    image: apache/airflow:2.9.1
    depends_on:
      - postgres
      - airflow-webserver
    environment:
      AIRFLOW__CORE__EXECUTOR: LocalExecutor
      AIRFLOW__DATABASE__SQL_ALCHEMY_CONN: postgresql+psycopg2://airflow:airflow@postgres/airflow
      _PIP_ADDITIONAL_REQUIREMENTS: "-r /requirements.txt"
    volumes:
      - ./dags:/opt/airflow/dags
      - ./logs:/opt/airflow/logs
      - ./requirements.txt:/requirements.txt
      - ./kaggle_config:/home/airflow/.config/kaggle
    command: >
      bash -c "
      airflow db upgrade &&
      airflow scheduler
      "


  superset:
    build:
      context: .
      dockerfile: Dockerfile.superset
    ports:
      - "8088:8088"
    depends_on:
      - postgres
    environment:
      SUPERSET_LOAD_EXAMPLES: "no"


volumes:
  postgres_data:
